@{
    ViewBag.Title = "это я";
}
<h2>@ViewBag.Title.</h2>


<div>
    <div id=avatar> <img src="itsme.jpg" width=150px height=150px> </div>  
    <div id=check>      
        <h4> Привет, меня зовут Дима, очень люблю писать программы иучить что-то новое. Для меня математический        
            анализ этоглавная причина почему я встаю по утрам.           
            Мне очень нравитсяPascal, C++ и html,         
            но это лишь часть моих интересов. Я очень          
            люблю старые игры,например WarCraft2, WarCraft3, StarCraft(обе части), DUNE,          
            DevilMayCry,и так далее.       
        </h4>  
    </div>
    <div class="video">
        <video loop="" autoplay="" controls="" preload="" src="polka.mp4" width="100%"></video>
    </div>
</div>
