@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Клёвый сайт</h1>
</div>

<div class="row">
    <div class="col-md-2">
        <div class=baner>
            <a href="https://liquipedia.net/starcraft2/Alex007">
                <img src="alex.jpg" width=100% height="15%">
                Он УНИЧТОЖИЛ корейского <br>
                чемпиона, новый чемпион <br>
                мира...
            </a>
        </div>
        <div class=baner>
            <a href="https://www.youtube.com/watch?v=7yeA7a0uS3A">
                <img src="heman.jpg" width=100% height="15%">
                Она умерла моментально.За <br>
                секунду до смерти фотограф <br>
                успел сделать кадр!
            </a>
        </div>
        <div class=baner>
            <a href="https://www.youtube.com/watch?v=XvJ1TCkzLMI&list=PL1SSVMDqZKXsOCWRmvxd-FbnI4VmpNVRK&index=56&t=34s">
                <img src="dark.jpg" width=100% height="15%">
                Журналисты были в <br>
                шоке, когда узнали <br>
                кто будет <br>
                наследником <br>
                Путина...
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <h2>И всё-таки, почему надмозг?</h2>
        <p>
            Сверхразум был создан
            цивилизацией Зел'Нага, которые 
            таким образом хотели избавить 
            созданную ими расу зергов от 
            проблем, связанных с 
            индивидуалистическим началом.
        </p>
        <p><a class="btn btn-default" href="https://starcraft.fandom.com/wiki/Second_Overmind">Всё о надмозге &raquo;</a></p>
    </div>
    <div class="col-md-2">
        <h2>Веб программирование</h2>
        <p>Чтобы научиться верстать сайты, нужно стать аскетом, жить в винной бочке и ходить голым по площади, делясь светлыми мыслями с отребьем, чтобы у них появился шанс на просвещение.</p>
        <p><a class="btn btn-default" href="https://ru.wikipedia.org/wiki/Диоген">Стать аскетом &raquo;</a></p>
    </div>
</div>